.pagination {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left:45%;
    font-weight:bold;
}

.sticky{
  position: absolute;
}

.divimg {
  z-index:-1;
}

body{
  width: 100%;
  margin: 0;
  font-family: helvetica;
}

.header {
  top: 0;
  left:0;
  display: inline-flex;
  flex-wrap:nowrap;
  position: fixed;
  width: 100%;
  height: 60px;
  color: white;
  background-color: black;
  z-index: 1000000000000000000;
  align-items: center;
  justify-content: space-between;
}

.header-brand {
  float:left;
  padding: 20;
}

.header-buttons {
  display: inline-flex;
  width:60%;
  justify-content: flex-end;
}

.header-buttons > div {
  padding: 12;
}

.header-buttons > div:hover {
  background-color: grey;
  cursor: pointer;
}

.content-area {
  top:60px;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  padding-top: 60px;
  justify-content: center
}

.stickytext {
  padding: 15;
  color: white;
  font-size: 26px;
}

.content-box-small {
  max-width:50%;
  height: 100%;
  display: inline-flex;
  margin:7px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.content-detail {
  margin-top: 12px;
  display: inline-flex;
  flex-wrap:wrap;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.content-box-small:hover {
  cursor: pointer;
  opacity: 0.8;
}

.content-box-big {
  width:100%;
  height:100vh;
  background-color: yellow;
  background-image: url(https://picsum.photos/1200/700?random);
  background-size: cover;
}

.login-button {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}

.login-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}

.login-button:active {
	position:relative;
	top:1px;
}
