{% load static %}
<html>
<head>
  <title>Django photo blog</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="header">
      <div class="header-brand">
      {% block title %}{% endblock %}
      </div>
      <div class="header-buttons">
      <div><a class="login-button" href="{% url 'admin:index' %}">Log in</a></div>
    </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
