{% extends "photoblog/base.html" %}
{% block title %}<a style="color: inherit;" href="javascript: history.go(-1)"><i class="fa fa-arrow-left" aria-hidden="true"></i>
</a>{{photo.title}} by {{photo.author}} on {{photo.publish}}{% endblock %}
{% block content %}
<div class="content-area">
<div class="content-detail">
<img src='{{photo.imageurl}}'>
<span style="text-align:center;">
{{photo.description}}
</span>
</div>
</div>
{% endblock %}
