{% extends "photoblog/base.html" %}
{% block title %}{{photos.first.author}}Photo blog{% endblock %}
{% block content %}
<div class="content-area">
{% for photo in photos %}
<div class="content-box-small" onclick=window.location=('{{photo.get_absolute_url}}')>
  <img src='{{photo.imageurl}}' alt="Snow"  class="divimg">
  <div class="sticky stickytext">{{photo.title}} <br><font size=-1>{{photo.description}}</font></div>
</div>
{% endfor %}
</div>
{% include "pagination.html" with page=page_obj %}
{% endblock %}
